.header{
            background-image: url(./assets/img/header.jpeg);
            background-position: 50% 14%;
            width: 100%;
            height: 300px;
            border: solid 10px;
        
        }
        .titulo{    
            color: white;
            font-family: 'Courier New', Courier, monospace;
            margin: 0%;
        }
        .productos{
            display: flex;
            align-items: center;
            margin: 30px;
        }
        .produc-img{
            display: flex;
            width: 50%;
            justify-content: end;
        }
        .produc-descrip{
            width: 40%;
            padding: 20px;
        }
        .footer {
            background-color: #333; 
            color: white; 
            padding: 50px; 
            margin-top:auto;
            align-content: center;
            text-align: center;
}