.raleway-h4 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}

.robo-h4-titulo-articulo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 20px;
  text-align: left;
}
.robo-descripcion-articulo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 16pt;
  text-align: left;
  margin-bottom: 0;
}
.robo-direccion-articulo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 13pt;
  text-align: left;
}
.robo-precio-articulo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 10pt;
  text-align: left; 
  margin-top: 1px;
}
.robo-oferta-articulo {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 15pt;
  text-align: left; 
  margin-top: 1px;
  color: #28A745;
}